div[data-testid="stButton"] > button {
    height: 45px;
    width: 90px;
    background-color: #5148d8;
    color: white;
    border: none;
    border-radius: 6px;

    font-weight: 700;
    text-align: center;

    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
}

div[data-testid="stButton"] > button:hover {
    background-color: #4338ca;
    color: white;
    border: none;
}

div[data-testid="stButton"] > button:active {
    transform: translateY(2px);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
}

div[data-testid="stButton"] > button p {
    color: white;
    font-weight: 700;
    white-space: normal;
    word-break: normal;
}

/* Remove spacing between Streamlit columns */
div[data-testid="stHorizontalBlock"] {
    gap: 0;
}

/* Make every column consume exactly its allocated space */
div[data-testid="stColumn"] {
    padding: 0;
}

/* Budget box stuff */
#spending-container {
    perspective: 1000px;
}

#spending-container.has-selection
    .budget-box:not(.selected) {
    opacity: 0.4;
}

.budget-box {
        position: relative;

        transform: translateZ(0) rotateY(0deg) scale(1);

        transition: 
            transform 350ms ease,
            opacity 350ms ease,
            box-shadow 350ms ease;
        
        transform-style: preserve-3d;

        height: 90px;
        border: none;
        border-right: 2px solid white;
        padding: 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: white;
        font-weight: 700;
        text-align: center;

        box-shadow: inset 0 -6px 0 rgba(0,0,0,0.15);

        overflow: hidden;
        cursor: pointer;
}

.budget-box.selected{
     transform:
        translateZ(180px)
        rotateY(-8deg)
        scale(1.15);

    z-index: 100;
    overflow: visible !important;
}