div.stButton > button {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0.6rem 1.5rem;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 5px 0 #1e9e55;
    transition: all 0.1s ease;
}

div.stButton > button:hover {
    background-color: #35d97b;
    color: white;
    border: none;
}

div.stButton > button:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #1e9e55;
}